/* Colors */
:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --dark-red: #b30000;
  --light-green: #8bc34a;
  --primary-btn-color : #007bff;
  --turquorise :#1abc9c;
  --light-blue : #3498db;
  --purple : #9b59b6 ;
  --orange:#e67e22;
  --red:#e74c3c;
  --green: #2ecc71;
  --yellow: #f1c40f;
  --skyblue: #17a2b8;
  --light: #f8f9fa;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--primary-color);
  box-shadow: 0 4px 8px var(--primary-color);
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 300px;
  height: 700px;
}

.card__image {
  max-width: 100%;
  max-height: 60%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.card--dark {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.card--turquorise
{
  background-color: var(--turquorise);
}
.card--yellow{
  background-color: var(--yellow);
}
.card--purple{
  background-color: var(--purple);
}
.card__text{ 
  font-size: 18px;
}
.card__content {
  margin-bottom: 50px;
}

.card__button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 0.25rem;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.card__button--danger {
  background-color: var(--dark-red);
  color: var(--secondary-color);
}

.card__button--success {
  background-color: var(--light-green);
  color: var(--primary-color);
}

.card__button--primary{
  background-color: var(--primary-btn-color);
  color: var(--secondary-color);
}
.card__button--info{
  background-color: var(--skyblue);
  color: var(--secondary-color);
}
.card__button--light{
  background-color: var(--light);
}
.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
